ejbModule/ec/edu/epn/saew/Tesis/SaewTesis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="https://saew.epn.edu.ec/saewstesis/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="https://saew.epn.edu.ec/saewstesis/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="https://saew.epn.edu.ec/saewstesis/">
			<s:element name="DatosTesisWS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="codprf"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="DatosTesisWSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="DatosTesisWSResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="DatosTesisWSSoapIn">
		<wsdl:part name="parameters" element="tns:DatosTesisWS" />
	</wsdl:message>
	<wsdl:message name="DatosTesisWSSoapOut">
		<wsdl:part name="parameters" element="tns:DatosTesisWSResponse" />
	</wsdl:message>
	<wsdl:portType name="DatosTesisWSSoap">
		<wsdl:operation name="DatosTesisWS">
			<wsdl:input message="tns:DatosTesisWSSoapIn" />
			<wsdl:output message="tns:DatosTesisWSSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DatosTesisWSSoap" type="tns:DatosTesisWSSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DatosTesisWS">
			<soap:operation soapAction="https://saew.epn.edu.ec/saewstesis/DatosTesisWS"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DatosTesisWSSoap12" type="tns:DatosTesisWSSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="DatosTesisWS">
			<soap12:operation soapAction="https://saew.epn.edu.ec/saewstesis/DatosTesisWS"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DatosTesisWS">
		<wsdl:port name="DatosTesisWSSoap" binding="tns:DatosTesisWSSoap">
			<soap:address location="https://saew.epn.edu.ec/saewstesis/DatosTesisWS.asmx" />
		</wsdl:port>
		<wsdl:port name="DatosTesisWSSoap12" binding="tns:DatosTesisWSSoap12">
			<soap12:address
				location="https://saew.epn.edu.ec/saewstesis/DatosTesisWS.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>